<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- footer -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div class="container mb-3 bg-light">
    <div class="row p-2">
        <footer class="footer-content py-5">
            <div class="container-fluid py-lg-5 inner-sec-w3ls">
                <div class="row">
                    <div class="col-lg-4 footer-top mt-md-0 mt-sm-5 pr-lg-5">
                        <h2>
                            <a style="color:rgb(185, 120, 153)">Hệ thống cửa hàng</a>
                        </h2>
                        <p class="my-3">Quận 3 Tp.HCM - Số 71, Đường số 3, Cư Xá Đô Thành, P4, Q3 - 0911 784 114 Số 71,
                            Đường số 3, Cư Xá Đô Thành<br />
                            Q.Phú Nhuận Tp.HCM - 98B Phan Đăng Lưu, P.3, Q.Phú Nhuận - 0911 384 114 98B Phan Đăng Lưu,
                            P.3, Q.Phú Nhuận<br />
                            Q.9 Tp.HCM - 435 Lê Văn Việt, Tăng Nhơn Phú A, Q.9 - 0911.484.114 435 Lê Văn Việt, Tăng Nhơn
                            Phú A, Q.9 - 0911.484.114(Coming Soon)</p>
                    </div>
                    <div class="col-lg-3 mt-md-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Hỗ Trợ khách hàng</h3>
                            <hr>
                            <!-- <div class="row"> -->
                            <ul>

                                <li>
                                    <a href="/home">
                                        Giải đáp thắc mắc
                                    </a>
                                </li>
                                <li>
                                    <a href="/home">
                                        Giới thiệu về Beautiful store
                                    </a>
                                </li>
                                <li>
                                    <a href="/home">
                                        Giải đáp thắc mắc
                                    </a>
                                </li>
                                <li>
                                    <a href="/home">
                                        Hướng dẫn mua hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="/home">
                                        Thanh toán & Vận chuyển
                                    </a>
                                </li>
                                <li>
                                    <a href="/home">
                                        Chính sách đổi trả
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-2 mt-lg-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Liên hệ</h3>
                            <hr>
                            <div class="last-w3layouts-contact">
                                <p>
                                    <a href="mailto:example@email.com">info@example.com</a>
                                </p>
                            </div>
                            <div class="last-w3layouts-contact my-2">
                                <p>+ 325 31 92 92</p>
                            </div>
                            <div class="last-w3layouts-contact">
                                <p>+ 90 nsequursu dsdesdc,
                                    <br>xxx Honey State 049436.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-lg-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Nhận Thông Tin</h3>
                            <hr>
                            <div class="footer-text">
                                <p>
                                    Mọi thắc mắc xin điền vào thông tin bên dưới,bạn sẽ nhận được sự hỗ trợ một cách
                                    nhanh nhất!
                                </p>
                                <form [formGroup]="footerForm" (ngSubmit)=onFooter()>
                                    <input class="form-control" formControlName="email" type="text" name="Email"
                                        placeholder="Email của bạn ...." required="">
                                    <input class="form-control" formControlName="comment" type="text" name="Comment"
                                        placeholder="bình luận của bạn..." style="height: 100px" required="">
                                    <button type="submit" class="btn1 btn"><span class="fa fa-share-square"
                                            aria-hidden="true">Gửi</span>
                                    </button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <div class="copy-right py-2">
            <div class="container-fluid inner-sec-w3ls">
                <div class="row">
                    <div>
                        <ul class="social_section_1info">
                            <li class="mb-2 facebook"><a href="https://www.facebook.com/"><span
                                        class="fab fa-facebook"></span> facebook</a></li>
                            <li class="mb-2 twitter"><a href="https://www.twitter.com/"><span
                                        class="fab fa-twitter"></span> twitter</a></li>
                            <li class="google"><a href="https://www.google.com/"><span
                                        class="fab fa-google-plus"></span> google</a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/"><span
                                        class="fab fa-linkedin"></span> linkedin</a></li>
                        </ul>
                    </div>
                    <div class="move-top col-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up"
                                aria-hidden="true"></span></a></div>
                </div>
                <!-- //footer bottom -->
            </div>
        </div>
    </div>
</div>