<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container mb-3 bg-light">
  <div class="row p-2">
<style>
  body  {
     background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/8vV2rpe/beach-style-blue-background-1080p_qyvzckhb__F0000.png");
    
  }
</style>
<div class="container">
  <div class="row mt-5">
      
      <div class="col-12 ">
             
         <h3><i class="fa fa-volume-control-phone fa-2x" style="color:red"></i> ĐẶT HÀNG: 03651789</h3>
      </div>
      <div class="col-12">
         
          <h3> <i class="fa fa-phone fa-2x" style="color:orangered" ></i> KHIẾU NẠI: 03526721</h3>
      </div>
      <div class="col-12">
             
         <h3> <i class="fa fa-cog fa-2x" ></i> BẢO HÀNH: 056172282</h3>
      </div>
      <div class="col-12">
             
          <h3> <i class="fa fa-phone-square fa-2x"></i> GỌI TƯ VẤN: 08262321</h3>
      </div>
  
  </div>
</div>
</div>
</div>