<div class="container mb-3 bg-light">
  <div class="row p-2">
    <div class="introduction">
<h1 class="text-center Type--word">Giới thiệu Beautiful Store </h1>
  <p>
      Nghề bán hàng mỹ phầm online khá phát triển tại Việt Nam, đặc biệt là các loại mỹ phẩm Hàn Quốc
     với chất lượng đảm bảo giá cả lại rẻ nên rất được ưa chuộng. Do đó việc kinh doanh ngành hàng này khá cạnh tranh, nếu bạn không biết cách tạo trang web để bán online thì việc cạnh tranh so với đối thủ là không khả thi.
    
  </p>
</div>
</div>  
</div>